{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!
{% endblock %}

{% block body %}
	<h1 class="text-blue-500 text-6xl font-bold text-center my-6">Hello c'est Kiki</h1>
{% endblock %}
